/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 17, 2019, 9:40:25 PM
    Author     : jcppoulard
*/

table.bodi {
      border-collapse: collapse;
    }

    table.bodi, td.bodi, th.bodi, tr.bodi {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    